@import url('font/stylesheet.css');

html, body {
  padding: 0;
  margin: 0;
}

body {
  background: rgba(48, 48, 48, 0.24);
}

.blur {
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  -o-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px);
  transition: 1s filter linear;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
}

.blur.remove {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

main .call {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: 340px;
  height: 265px;
  text-align: center;
  z-index: 8;
}

main .call .number {
  font-family: 'Adler';
  color: #a84848;
  font-size: 52px;
  opacity: 0.7;
  margin: 0;
}

main .call .number span {
  font-size: 60px;
}

main .call .title {
  font-family: 'Adler';
  color: #484848;
  opacity: 0.82;
  font-size: 32px;
  margin: 0;
}

main .call .counter {
  font-family: 'Adler';
  color: #c06060;
  font-size: 60px;
  margin: 0;
}